input {
  all: unset;
}

.npc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
  height: 95%;
}

.npc-top {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 15px;
  align-items: center;
  position: relative;
}

#npc-top--statsGenerator {
  position: absolute;
  bottom: 0px;
  right: 50px;
}
.npc-top-avatar {
  position: relative;
  height: 250px;
  width: 250px;
  margin: 15px;
}

#npc-top-avatar-iconButton {
  position: absolute;
  right: 0;
}

#chooseAvatar-modal {
  background: rgba(166, 166, 166, 0.778);
  border-radius: 25px;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;

  display: flex;
  gap: 10px;
  padding: 40px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  /* border-radius: 15px; */
}

#chooseAvatar-modal-iconButton {
  position: absolute;
  color: white;
  right: 0;
  top: 0;
}

.chooseAvatar-modal-avatar {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
.chooseAvatar-modal-avatar:hover {
  opacity: 0.7;
  cursor: pointer;
}

.npc-top-avatar-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.npc-top-avatar-nickname {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
}

.npc-mainInfo {
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  white-space: nowrap;
}

.npc-mainInfo--BasicInfo {
  width: 100%;
  display: flex;
  align-items: center;
}
.npc-mainInfo--BasicInfo--Autocomplete {
  width: 75% !important;
}
.npc-mainInfo--BasicInfo--label {
  min-width: 100px;
}
/* .npc_stats {
} */

.npc_stats-single {
  width: 100%;
  height: 100%;
}

.npc_skills {
  width: 90%;
  height: 30%;
  background: #bac2a9;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 150px;
}

.npc_skills-title {
  padding-top: 5px;
  border-bottom: 1px solid black;
  width: 95%;
  align-self: center;
}

.npc_skills-list {
  display: flex;
  flex-wrap: wrap;
}

.npc_skills-list-item {
  min-height: 25px;
  min-width: 250px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.npc_skills-list-item-input {
  width: 85%;
}

.npc_skills--textArea {
  width: 90%;
  height: 100%;
  padding: 10px;
  font-size: 14px;
  color: black;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background: #bac2a9;
  resize: none;
}

table {
  width: 90%;
}

th {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  background: #bac2a9;
}
