.mainpage-container {
  height: 100vh;
  width: 100vw;
  background-color: #65695b;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 80%;
  overflow: hidden;
}

.user-info {
  background-color: #5c693c;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav {
  background-color: #bac2a9;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-card:last-child {
  margin-bottom: 50px;
}
